body {
  background-color: #87b5b5;
  font-weight: 300;
}
.App {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.editor-container,
.previewer-container {
  padding: 20px;
  box-sizing: border-box;
}

.editor-container {
  width: 40%;

  h1 {
    background-color: #4aa3a3;
    margin-bottom: 0px;
    text-align: center;
    width: 99%;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    border: 1px solid black;
  }

  textarea {
    width: 99%;
    height: 92%;
    border: none;
    resize: none;
    background-color: #c0d9d8;
    overflow: auto;
    padding-right: 0;
    padding-left: 1px;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    border: 1px solid black;
  }
}
.token.keyword {
  color: #07a; /* Keywords */
}
.token.comment {
  color: #708090; /* Comments and other meta information */
}
.token.function {
  color: #dd4a68;
}
.token.namespace {
  opacity: 0.7; /* Namespaces */
}
.token.string {
  color: #690; /* Strings and attribute values */
}
.token.punctuation {
  color: #999; /* Punctuation and operators */
}

.token.operator {
  color: #9a6e3a;
}

.previewer-container {
  background-color: #87b5b5;
  width: 60%;

  > h1 {
    background-color: #4aa3a3;
    margin-bottom: 0px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
  }
}

#preview {
  padding: 10px;
  background-color: #c0d9d8;
  border: 1px solid black;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  h1 {
    border-bottom: 2px solid black;
  }
  h2 {
    border-bottom: 1px solid black;
  }
  pre {
    display: block;
    overflow: auto;
    background: white;
    padding: 5px;
    line-height: 1.2;
  }
  p {
    code {
      padding: 5px;
      font-weight: bold;
      line-height: 1.5;
    }
  }

  code {
    background: white;
    font-weight: bold;
    font-size: 0.9rem;
  }

  blockquote {
    border-left: 3px solid black;
    padding-left: 5px;
  }

  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 2px solid #224b4b;
    padding-left: 5px;
    padding-right: 5px;
  }
  img {
    display: block;
    max-width: 90%;
    margin: 2rem auto;
  }
}



/* For tablets */
@media screen and (max-width: 700px) {
  .App {
    flex-direction: column; /* Stack the components vertically */
  }

  .editor-container,
  .previewer-container {
    width: 100%; /* Take up full width on tablets */
  }

  .editor-container textarea {
    min-height: 600px;
  }
}

/* For mobile phones */
@media screen and (max-width: 480px) {
  .editor-container,
  .previewer-container {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .editor-container textarea {
    min-height: 300px;
  }
}
